@model NASA.Models.ViewModels.HomePageViewModel

<div class="text-center">
    <h1 class="display-5">Top 10 closest asteroid approaches for next 7 days!</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Asteroid Id</th>
                <th scope="col">Asteroid Name</th>
                <th scope="col">Date Of Approach</th>
                <th scope="col" style="white-space: normal">Potential Earth Destroyer?</th>
                <th scope="col" style="white-space: normal">Miss Distance In Kilometers</th>
                <th scope="col" style="white-space: normal">Miss Distance In Miles</th>
                <th scope="col" style="white-space: normal">Speed in Kilometers Per Hour</th>
                <th scope="col" style="white-space: normal">Speed in Miles Per Hour</th>
                <th scope="col" style="white-space: normal">Avg Diameter in Meters</th>
                <th scope="col" style="white-space: normal">Avg Diameter in Feet</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var asteroid in Model.asteroids)
            {

                var hazardous = asteroid.IsPotentiallyHazardousAsteroid ? "Yes" : "No";

                <tr>
                    <td>@asteroid.Id</td>
                    <td>@asteroid.Name</td>
                    <td>@asteroid.CloseApproachDateFull</td>
                    <td>@hazardous</td>
                    <td>@asteroid.MissDistanceInKilometers.ToString("0.000")</td>
                    <td>@asteroid.MissDistanceInMiles.ToString("0.000")</td>
                    <td>@asteroid.KilometersPerHour.ToString("0.")</td>
                    <td>@asteroid.MilesPerHour.ToString("0.")</td>
                    <td>@asteroid.AvgDiameterInMeters.ToString("0.000")</td>
                    <td>@asteroid.AvgDiameterInFeet.ToString("0.000")</td>

                </tr>
            }

        </tbody>
    </table>
    <p>
        Get more info for all @Model.AllAsteroidsCount asteroid approaches for next 7 days in .XLSX by clicking
        <a asp-controller="ExcellManager" asp-action="DownloadExcel" method="get" download="Asteroids.xlsx">here</a>.
    </p>
    <p>
        
        <form asp-controller="Home" asp-action="AstronomyPictureOfTheDay" method="get">
            <input type="hidden" value="@DateTime.Now" name="date" />
            View Astronomy Picture Of the Day -> <button type="submit" class="btn btn-outline-success">View APOD</button>
        </form>
    </p>
</div>


